[Main]
Timeout=100
Timeout_Seconds=1
Use_Timeout_Seconds=true

[SL_Cpu]
Enabled=true
Use_Label=false
Color=#3387DF
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=false
Color=#2AAC2A
Text=mem

[SL_Swap]
Enabled=true
Use_Label=false
Color=#CC2636
Text=swap

[SL_Uptime]
Enabled=false

